# Editor & IDE
.vscode/
.idea/
.zed/
*.swp
*.swo
*~

# OS Files
.DS_Store
Thumbs.db

# Odin Build Artifacts
*.bin
*.exe
*.o
*.so
*.dylib
*.dll
*.a
*.lib
*.pdb

# Build Output Directories
/build/
/out/
/bin/
/obj/

# log folder
/logs
